.flexbox-container-1,
.flexbox-container-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
}


aside {
    align-items: flex-start;
}

main {
    align-items: flex-end
}
